/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.01.2014, 05:04:10
    Author     : Chaim
*/

$blau: #0040FF;
$hellblau: #00C0FF;
$magenta: #f080ff;
//$gruen: #00FF80;
$gruen: #008414;
$rot: #FE2E64;

* {
  margin: 10;
}

body {
  #background-color: #ddd;
}

#container {
  width: 500px;
  margin: 0 auto;
}


#header {
  background-color: $blau;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#content {
  border: 2px solid $blau;
  padding: 20px;
  padding-right: 40px;
  background-color: #fff;
  min-height: 200px;

  h2 {
    font-size:  1.1em;
    margin-bottom: 0.5em;
  }

}

#errormessages {
  //marquee-style: alternate;
  marquee-direction: alternate;
}



.field_with_errors {
  background-color: $rot;
}


#status {
  border: 2px solid $blau;
  padding: 10px;
}

#notice {
  color: $gruen;
}

#alert {
  border: 1px solid $rot;
  color: $rot;
  background-color: #FFA894;
}

label {
  #display: block;
}

input {
  #margin: 0.5em 0;
}

input[type="submit"] {
  #margin-top: 2em;
}

.hell {
  background-color: #f8f8ff;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.dunkel {
  background-color: #d3d3d3;
  border: 2px solid $blau;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 2px;

}

.odd_back {
  color: black;
  background-color: $hellblau;
  text-align: center;
  font-weight: bold;
}

.amnt_back {
  color: black;
  background-color: $hellblau;
  text-align: center;

}

.odd_lay {
  color: black;
  background-color: $magenta;
  text-align: center;
  font-weight: bold;
}

.amnt_lay {
  color: black;
  background-color: $magenta;
  text-align: center;
}

